<div class="container section">
  <div class="page-header text-center">
    <h1>訂單確認</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2><%= @order.line_item.product.name %></h2>
      <%= image_tag @order.line_item.product.picture.url, class: 'center-block product-image' %>
    </div>
    <div class="col-md-6">
      <div class="col-xs-12">
        <h2 class="side-section">產品</h2>
        <p>數量 <%= @order.line_item.quantity %></p>
        <p>總價 <%= number_to_currency(@order.amount, precision: 0) %></p>
      </div>
      <div class="col-xs-12">
        <h2 class="side-section">付款</h2>
        <p><%= image_tag @payment_method.image_url %> •••• •••• •••• <%= @payment_method.last_4 %></p>
        <%= link_to '變更', show_payment_cart_path(@cart), data: { no_turbolink: true } %>
      </div>
      <div class="col-xs-12">
        <h2 class="side-section">收件資訊</h2>
        <p><%= @order.name %></p>
        <p>
          <%= @order.shipping_address.postcode %>
          <%= @order.shipping_address.region %>
          <%= @order.shipping_address.locality %>
          <%= @order.shipping_address.address1 %>
        </p>
        <p><%= ISO3166::Country.find_country_by_alpha2(@order.shipping_address.country).name %></p>
        <%= link_to '變更', show_address_cart_path(@cart) %>
      </div>
      <%= simple_form_for @order do |f| %>
        <div class=""><%= f.button :submit, '下單', class: 'btn btn-default btn-lg btn-bemine center-block' %></div>
      <% end %>
    </div>
  </div>
</div>