<div class ="paymentconfirm">
 <div class ="paymentdetail">
 <h6>Review Order</h6>
 <h7>Order Detail</h7>
 <table class="table" id ="paymentdetails">
   <thead>
     <tr>
       <td>Product</td>
       <td>Order Number</td>
       <td>Quantity</td>
       <td>Total</td>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td><div class ="box col2"><%= image_tag(@order.line_item.product.picture.url) %><%= @order.line_item.product.name %></div></td>
       <td><%= @order.id %></td>
       <td><%= @order.line_item.quantity %></td>
       <td><%= number_to_currency(@order.amount, precision: 0) %></td>
     </tr>
   </tbody>
 </table>
 <h7>Payment Detail</h7>
 <p><%= image_tag @payment_method.image_url %> •••• •••• •••• <%= @payment_method.last_4 %></p>
 <%= link_to 'Change payment', add_payment_order_path(@order) %>
 <h7>Shipping Detail</h7>
 <%= link_to 'Confirm Order', confirm_order_path(@order), method: :post, class: 'btn btn-primary' %>
 </div>
</div> 


