<% content_for :stylesheet do %>
  <%= stylesheet_link_tag controller_name, media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<div class="hero">
  <div class="hero-background">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag 'heroes/dubai.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'heroes/hk.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'heroes/osaka.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'heroes/nyc.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'heroes/paris.jpg' %>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="hero-content">
    <div class="text-hero text-jumbo text-shadow">
      <p>輕鬆在家  買遍天下</p>
      <p>輕鬆找到國外旅人幫你把海外人氣商品帶回家</p>
    </div>
  </div>
</div>
<!-- Categories -->
<div id="categories" class="home-section row">
  <% @categories.each do |category|%>
    <div class="col-sm-6 col-lg-4 category">
      <figure>
        <%= link_to category do %>
          <%= image_tag(category.picture.url, class: 'darken center-block') %>
          <figcaption class="text-overlay text-shadown"><%= category.name %></figcaption>
        <% end %>
      </figure>
    </div>
  <% end %>
</div>
<!-- Core Values -->
<div class="home-section row">
  <div class="col-sm-6 col-lg-4 text-center core-service">
    <%= fa_icon 'spinner 4x' %>
    <h2>自動代購媒合</h2>
    <p>找到自己喜歡的商品，線上立即自動幫您配對代購者，保證24小時內通知媒合結果，輕鬆完成交易。</p>
  </div>
  <div class="col-sm-6 col-lg-4 text-center core-service">
    <%= fa_icon 'eye 4x' %>
    <h3>商品經手把關</h3>
    <p>所有商品都由經過認證的代購者買回，經BeMine嚴格的商品檢查後，才將最好的商品送到您手中。如仍遇瑕疵或仿造品，BeMine則全權負起退換貨之責任。</p>
  </div>
  <div class="col-sm-6 col-lg-4 text-center core-service">
    <%= fa_icon 'times 4x' %>
    <h3>一律免運費</h3>
    <p>我們堅持您看到的價格就是最後的實際價格，不再收取任何額外費用</p>
  </div>
  <div class="col-sm-6 col-lg-4 text-center core-service">
    <%= fa_icon 'clock-o 4x' %>
    <h3>24小時回覆結果</h3>
  </div>
  <div class="col-sm-6 col-lg-4 text-center core-service">
    <%= fa_icon 'truck 4x' %>
    <h3>負責物流服務</h3>
  </div>
  <div class="col-sm-6 col-lg-4 text-center core-service">
    <%= fa_icon 'quote-right 4x' %>
    <h3>專人客服</h3>
  </div>
</div>