<div class="hero">
  <div class="hero-background">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag 'heroes/dubai.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'heroes/hk.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'heroes/osaka.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'heroes/nyc.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'heroes/paris.jpg' %>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="hero-content">
    <div class="text-hero text-jumbo">
      <p>輕鬆在家  買遍天下</p>
      <h4>輕鬆找到國外旅人幫你把海外人氣商品帶回家</h4>
    </div>
  </div>
</div>
<div id="categories" class="category centered clearfix">
  <% @categories.each do |c|%>
    <div id="cateepic" class="box col4">
      <%= link_to image_tag(c.picture.url), c %>
    </div>
  <% end %>
</div>
<div class="coreservice">
  <div class="coreservicecontainer">
    <div class="coreservicesection1 row" id="coreservicesection">
      <div class="service1 col-md-4 col-sm-4">
        <i class="fa fa-spinner fa-3x"></i>
        <h3>自動代購媒合</h3>
        <h4>找到自己喜歡的商品，線上立即自動幫您配對代購者，保證24小時內通知媒合結果，輕鬆完成交易。</h4>
      </div>
      <div class="service2 col-md-4 col-sm-4">
        <i class="fa fa-eye fa-3x"></i>
        <h3>商品經手把關</h3>
        <h4>所有商品都由經過認證的代購者買回，經BeMine嚴格的商品檢查後，才將最好的商品送到您手中。如仍遇瑕疵或仿造品，BeMine則全權負起退換貨之責任。</h4>
      </div>
      <div class="service3 col-md-4 col-sm-4">
        <i class="fa fa-times fa-3x"></i>
        <h3>一律免運費</h3>
        <h4>我們堅持您看到的價格就是最後的實際價格，不再收取任何額外費用</h4>
      </div>
    </div>
    <div class="coreservicesection2 row" id="coreservicesection">
      <div class="service4 col-md-4 col-sm-4">
        <i class="fa fa-clock-o fa-3x"></i>
        <h3>24小時回覆結果</h3>
      </div>
      <div class="service5 col-md-4 col-sm-4">
        <i class="fa fa-truck fa-3x"></i>
        <h3>負責物流服務</h3>
      </div>
      <div class="service6 col-md-4 col-sm-4">
        <i class="fa fa-quote-right fa-3x"></i>
        <h3>專人客服</h3>
      </div>
    </div>
  </div>
</div>