<div class="container">
  <div class="page-header text-center">
    <h1>寄件資訊</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <%= render 'products/cart' %>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <h2 class="side-section">寄件地址</h2>
        <%= simple_form_for @cart, url: update_address_cart_path(@cart), method: :post do |f| %>
          <%= f.input :name, label: '收件者姓名', required: true %>
          <%= f.simple_fields_for :shipping_address do |a| %>
            <%= a.input :address1, label: '地址' %>
            <%= a.input :address2, label: '地址（第二行）', required: false %>
            <%= a.input :locality, label: '鄉鎮市區' %>
            <%= a.input :region, label: '縣市' %>
            <%= a.input :country, label: '國家', priority: [ 'Taiwan' ] %>
            <%= a.input :postcode, label: '郵遞區號', required: false %>
          <% end %>
          <%= f.button :submit, '繼續', class: 'btn btn-default btn-lg btn-bemine center-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>