<div class = "buyerdetail">
  <div class = "buyerarea row">
    <div class = "calmdown"><i class="fa fa-bell-o fa-1x"></i>請放心，商品媒合成功之前，本公司不會收取您任何費用</div>
    <div class = "setcart col-xs-6"><%= render 'products/cart' %></div>
    <div class ="buyerdetails col-xs-6">
      <h5>新媒合訂單</h5>
      <%= simple_form_for @cart, url: update_address_cart_path(@cart), method: :post do |f| %>
        <%= f.input :name %>
        <%= f.simple_fields_for :shipping_address do |a| %>
          <%= a.input :address1, label: '地址' %>
          <%= a.input :address2, label: '地址（第二行）', required: false %>
          <%= a.input :locality, label: '鄉鎮市區' %>
          <%= a.input :region, label: '縣市' %>
          <%= a.input :country, label: '國家', priority: [ 'Taiwan' ] %>
          <%= a.input :postcode, label: '郵遞區號', required: false %>
        <% end %>
        <%= f.button :submit, '成立訂單', class: 'btn btn-buyer' %>
      <% end %>
    </div>
  </div>
</div>