<h2>Cart <%= current_cart.id %></h2>
<% if line = current_cart.line_item %>
  <ul>
    <li>
      <%= line.product.name %> x <%= line.quantity %> = NTD <%= number_to_currency(line.amount, precision: 0) %>
      <%= link_to "[x]", cancel_product_path(line.product), :method => :post %>
    </li>
  </ul>
<% end %>