<h2>Cart</h2>
<ul>
  <% current_cart.line_items.each do |line| %>
    <li>
      <%= line.product.name %> x <%= line.quantity %> = NTD <%= number_to_currency(line.amount, precision: 0) %>
      <%= link_to "[x]", cancel_product_path(line.product), :method => :post %>
    </li>
  <% end %>
</ul>
<%= link_to "結帳", new_order_path, :class => "btn btn-primary" %>